<table class="wrapper" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <div class="welcome">
        <h1>
          <% if params[:player].present? %>
            <%= currentPlayer %> won!
          <% else %>
            It's a tie!
          <% end %>
        </h1>

        <div class="player-name">
          <%= session[:session_x_name] %>'s score: <b><%= @scorex %></b>
        </div>

        <div class="player-name">
          <%= session[:session_o_name] %>'s score: <b><%= @scoreo %></b>
        </div>

         <%= link_to "Play Again", twoplayers_path, class: "reset-btn" %>

       <%= link_to "Reset", games_path, class: "reset-btn" %>
      </div>
    </td>
  </tr>
</table>